html {
    overflow: hidden;
    position: fixed;
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0px;
    position: fixed;
    background:#000;
}

#canvas {
    background:#000;
}
